.colored-toast.swal2-icon-success {
    background-color: #03b309 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #e23f33 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #ecb90d !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #2c8bd3 !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #40374E !important;
  }
  
  .colored-toast .swal2-title {
    color: white !important;
  }
  
  .colored-toast .swal2-close {
    color: white !important;
  }
  
  .colored-toast .swal2-html-container {
    color: white !important;
  }